<head>
  <title>2022 Draft App</title>
  <meta http-equiv="X-UA-Compatible" content="IE=EDGE"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimal-ui"/>
  <link rel="preload" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,900|Raleway:400,700" as="style">
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,900|Raleway:400,700" rel="stylesheet" type="text/css"/>
</head>
<template name="_global">
  {{> navigation}}
  {{> DraftStatus}}
  <div class="wrapper">{{> yield}}</div>
  {{> sAlert}}
  {{> ModalContainer}}
</template>