<template name="ModalContainer">
  <div class="ui basic modal" id="player--modal">
    <div class="header">Are you sure that you want to draft <span data-player=""></span>?</div>
    <div class="actions">
      <div class="ui red inverted cancel button">No</div>
      <div class="ui green ok inverted button">Yes</div>
    </div>
  </div>
</template>