@import (reference) '_vars.less';

* {
  box-sizing: border-box;
}

.wrapper {
  width: 100vw;
  min-width: 20rem;
  overflow: auto;
  margin: 25vh 0 0;
  background: @white;
  height: 100%;
  border-radius: .25rem .25rem 0 0;
  
  @media @phone-height {
    margin: 31vh 0 0;
  }
}

.hide {

  &--all {
    display: none !important;
  }

}

.ui {

  &--sub-menu {

    border-top: 1px solid darken(@gray-light, 5%);

    li {
      float: left;
    }
  }

}

.fx {

  &.blurry {
    filter: blur(10px);
  }

}

.ui--button(@background: @primary) {
  
  display: inline-block;    
  padding: .5rem 1rem;
  
  font-weight: 500;
  text-decoration: none;
  font-family: @font-headers;
  
  background-color: @background;
  color: #FFF;

  &:hover {
    background-color: darken(@background, 5%);
    color: @white;
  }

}

.ui--button {
  .ui--button();
}