// Text mixins
.text--uppercase {
  text-transform: uppercase !important; 
}

.__transition {
  -webkit-transition: all 300ms linear;
  -moz-transition: all 300ms linear;
  transition: all 300ms linear;
}