@import (reference) '_vars.less';
@import (reference) '_mixins.less';

html, body {
  height: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
}

body {
  
  .__transition;

  font-size: 16px;
  font-family: @font-generic;
  
  position: relative;
  right: 0;
  
  background: @gray-med url('https://i.pinimg.com/originals/32/1a/05/321a052dbafe29e84e5bae129a0f602e.jpg') no-repeat 100% 0;
  background-size: cover;
  
  min-width: 375px;
  min-height: 700px;

  -ms-overflow: hidden;
  overflow: hidden;
  
  &:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: -25vh;
    width: 100%;
    height: 150vh;
    background: rgba(0,0,0,0.8);
    opacity: 0;
    will-change: opacity;
    pointer-events: none;
    transition: opacity 300ms cubic-bezier(0,0,0.3,1);
    z-index: 98;
    
    @media @phone-height {
      top: -31vh;
    }
  }

  &.__push.left {
    &:after {
      opacity: 1;
      pointer-events: auto;
    }
  }

}

ul[class^='ui'] {
  list-style: none;
  margin: 0;
  padding: 0;
}

.animated {
  animation-duration: 300ms;
}

::-webkit-scrollbar {
  display: none;
}