@import (reference) '_vars.less';
@import (reference) '_layout.less';

.list {
    
    .tab {
        float: left;
        width: .5em;
        height: 2.675em;
    }

    .item {
        
        clear: left;
        cursor: pointer;
        position: relative;
        border-bottom: 1px solid @gray-light;

        .content {
            padding: .25em 1em;
            .hlp.font.size.minus1;

            span {
                .hlp.font.size.minus2;
                color: @gray-med; 
            }
        }

        .info {

            cursor: default;

            &.hide {
                display: none;
            }
            .row {
                margin-top: 0;
                padding: 0;
            }
            .row:first-child {
                .lh-box-shadow(0 8px 8px -8px rgba(20,20,20,0.5) inset);
                padding-top: 6px;
            }
            .column {
                line-height: 3.5em;
                padding: 0 36px;
                background: @gray-light;
            }
        }
    }

    .list .item {
        padding: 0;
    }

}

.table.basic {
  
  width: 100%;
  border-bottom: 1px solid @gray-light;
  border-collapse: collapse;

  td {
    
    border-top: 1px solid @gray-light;
    padding: .875em .5em;

    &.header {
      border-top: none !important;
      color: white;
      background: @primary !important;
      font-family: @font-headers;
      font-weight: 900;
      text-transform: uppercase;
      padding: .875em;
    }

    &.--border {
      &-right {
        border-right: 1px solid @gray-light;
      }
      &-top {
        border-top: 1px solid @gray-light;
      }
      &-bottom {
        border-bottom: 1px solid @gray-light;
      }
    }

    div {
      margin-top: .5em;
    }

  }

}