 @import (reference) '__LESSHAT.less';

@font-generic: 'Source Sans Pro', sans-serif;
@font-headers: 'Raleway', sans-serif;

@small: ~'only screen and (max-width: 320px)';
@phone: ~'only screen and (max-width: 767px)';
@tablet: ~'only screen and (min-width: 767px)';
@desktop: ~'only screen and (min-width: 1232px)';
@desktop-menu: ~'only screen and (min-width: 1232px)';
@phone-height: ~'only screen and (max-height: 812px)';
@min-height: ~'only screen and (max-height: 650px)';

// Primary colors
@primary:   #1BBC9B;
@secondary: darken(@primary, 10%);
@tertiary:  darken(@primary, 25%);

// Halfway complimentary colors
@half: spin(lighten(@primary, 10%), 45);
@half-dark: spin(darken(@primary, 10%), 45);

// Complimentary colors
@complimentary: spin(lighten(@primary, 10%), 180);
@complimentary-dark: darken(@complimentary, 10%);

// Grayscale
@gray           : #666;
@gray-light     : #EBF0F6;
@gray-menu      : #555;
@gray-med       : #2B3442;
@gray-dark      : #202532;

@blue-dark      : #004F6E;
@blue-light     : #399CC4;
@blue-whisper   : lighten(@blue-light, 20%);

@white          : #FCFCFC;
@black          : #2B2b2B;

@red-dark       : #B82A1B;
@red-light      : lighten(@red-dark, 20%);
@red-whisper    : lighten(@red-light, 20%);

// Players Colors
@qb : @complimentary;
@rb : #f7931d;
@wr : @half;
@te : #31bf2a;
@def: @gray-dark;
@k  : #8a23c7;

// @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@

// Add color classes for on-the-fly colors.
.set-color(@color) {
  .color--@{color} {
    color: ~"@{@{color}}" !important;
  }
  .bg--@{color} {
    background-color: ~"@{@{color}}" !important;
  }
} 

.set-color(~"primary");
.set-color(~"secondary");
.set-color(~"tertiary");
.set-color(~"complimentary");
.set-color(~"complimentary-dark");
.set-color(~"gray-light");
.set-color(~"gray-med");
.set-color(~"gray-dark");

// @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@

._no_transition {
  transition: none;
}

// @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
// HELPERS
// @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@

.hlp {
    
    // -----------------

    &.margin {

        &.top1      { margin-top: 1rem !important; }
        &.top2      { margin-top: 2rem !important; }
        &.top3      { margin-top: 3rem !important; }
        &.top4      { margin-top: 4rem !important; }

        &.right1    { margin-right: 1rem !important; }
        &.right2    { margin-right: 2rem !important; }
        &.right3    { margin-right: 3rem !important; }
        &.right4    { margin-right: 4rem !important; }

        &.bottom1   { margin-bottom: 1rem !important; }
        &.bottom2   { margin-bottom: 2rem !important; }
        &.bottom3   { margin-bottom: 3rem !important; }
        &.bottom4   { margin-bottom: 4rem !important; }

        &.left1     { margin-left: 1rem !important; }
        &.left2     { margin-left: 2rem !important; }
        &.left3     { margin-left: 3rem !important; }
        &.left4     { margin-left: 4rem !important; }

        &.tb1       { margin-top: 1rem !important; margin-bottom: 1rem !important; }
        &.tb2       { margin-top: 2rem !important; margin-bottom: 2rem !important; }
        &.tb3       { margin-top: 3rem !important; margin-bottom: 3rem !important; }
        &.tb4       { margin-top: 4rem !important; margin-bottom: 4rem !important; }

        &.lr1       { margin-left: 1rem !important; margin-right: 1rem !important; }
        &.lr2       { margin-left: 2rem !important; margin-right: 2rem !important; }
        &.lr3       { margin-left: 3rem !important; margin-right: 3rem !important; }
        &.lr4       { margin-left: 4rem !important; margin-right: 4rem !important; }

        &.all1      { margin: 1rem !important; }
        &.all2      { margin: 2rem !important; }
        &.all3      { margin: 3rem !important; }
        &.all4      { margin: 4rem !important; }
    }

    // -----------------

    &.aligned {

        &.left      { text-align: left; }
        &.center    { text-align: center; }
        &.right     { text-align: right; }
    }

    // -----------------
    
    &.font {

        &.size {
            
            &.plus1     { font-size: 1.125rem !important; }
            &.plus2     { font-size: 1.250rem !important; }
            &.plus3     { font-size: 1.375rem !important; }
            &.plus4     { font-size: 1.500rem !important; }
            &.plus5     { font-size: 1.625rem !important; }

            &.minus1    { font-size: .875rem !important; }
            &.minus2    { font-size: .750rem !important; }
            &.minus3    { font-size: .625rem !important; }
            &.minus4    { font-size: .500rem !important; }
            &.minus5    { font-size: .375rem !important; }

        }

        &.color {
          &.quiet { color: @gray-med !important; }
          &.whisper { color: lighten(@black, 50%) !important; }
          &.white { color: @white !important; }
        }

        &.weight {
          &.bold      { font-weight: 700; }
          &.bolder    { font-weight: 800; }
          &.boldest   { font-weight: 900; }
        }

        &.caps {
          text-transform: uppercase !important;
        }
    }

}

.hide {
    display: none;
}

.dead--center {
  position: absolute;
  top: ~"calc(50% - 20vh)";
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}