@import (reference) '_vars.less';
@import (reference) '_layout.less';

.big-board,
.big-board-grid {
  
  height: 75vh;
  overflow-y: auto;
  
  @media @phone-height {
    height: 69vh;
  }
  
  h4 {
    margin-left: 1em;
    font-weight: 900;
  }

  .ui.grid {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap;
      -webkit-box-align: stretch;
      -webkit-align-items: stretch;
          -ms-flex-align: stretch;
              align-items: stretch;
      padding: 0em;
    }

  .ui.six.column.grid {
    
    .column {
        display: inline-block;
        width: 16.6666667%;
        vertical-align: top;
    }

  }

  .tab {

  }
}

.big-board {
    
    .ui.grid {

        margin: 0;

        .row .column {
            padding: 0;

            &:last-child {
                padding-right: 0;
            }
        }
    }

    .ui.list {
        padding: 0;
        margin: 0;

        .qb .tab  { background-color: @qb; }
        .rb .tab  { background-color: @rb; }
        .wr .tab  { background-color: @wr; }
        .te .tab  { background-color: @te; }
        .dst .tab { background-color: @def; }
        .k .tab   { background-color: @k; }

        .item,
        .list {
            padding: 0 !important;
            margin: 0 !important;
        }
    }
}

.big-board-grid {

    .ui.grid {

        .row {
            margin: 0;
            padding: 0;
        }

        .one.wide.column {

            width: 10%;
            margin: 0;
            padding: 0;
            max-height: 54px;
            min-width: 135px;

            .content {

                border: 1px solid @gray-light;

                &.header {
                    border-top: none;
                    border-left: none;
                    border-right: none;
                    border-bottom: 4px solid @black;
                    text-align: center;
                }

                &.qb  { background-color: @qb; }
                &.rb  { background-color: @rb; }
                &.wr  { background-color: @wr; }
                &.te  { background-color: @te; }
                &.def { background-color: @def; }
                &.k   { background-color: @k; }

            }

            .header {
                font-size: .875em;
                font-weight: 600;
            }

            span {
                color: @black;
            }
        }
    }

}