@import (reference) '_vars.less';
@import (reference) '_layout.less';

#draft_picks {
  
  min-width: 64rem;
  height: 75vh;
  overflow-y: auto;
  overflow-x: scroll;
  
  @media @phone-height {
    height: 69vh;
  }

  &.ui.grid > .row,
  &.ui.grid > .row > * {
    padding: 0;
  }
  
  &.ui.grid > .row {
    background: #FCFCFC; 
  }

  &.ui.grid > .row:nth-child(even) {
    background: #EFEFEF;
    -webkit-flex-direction: row-reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }

  .cell {
    font-size: 0.75rem;
    font-weight: bold;
    height: 4.25rem;
    padding: 0.5rem;
    border: 1px solid white;
    vertical-align: middle;
  }

  select {
    font-size: 0.75rem;
    max-width: 100%;
  }

}