@import (reference) '_vars.less';
@import (reference) '_layout.less';

.page {

  &--players {
    
    overflow: auto;
    
    .ui--list {
      
      table-layout: fixed;
      border-collapse: collapse;
      width: 100%;
      overflow: hidden;
      
      thead tr {
        display: block;
        padding: 0;
        overflow: hidden;
      }

      tbody {
        overflow-y: auto;
        height: ~"calc(100vh - 25vh - 95px)";
        width: 100%;
        display: block;
        
        @media @phone-height {
          height: ~"calc(100vh - 31vh - 95px)";
        }
      }

      tr {

        position: relative;

        padding: .75rem 0;
        
        border-width: 1px 0 0;
        border-style: solid;
        border-color: @gray-light;
        
        transition: all 150ms linear;
        will-change: transform;
        
        &.open .player--actions {
          transform: translateX(-5px);
          will-change: transform;
          
          & + .player--info {
           transform: translateX(6rem);
          }
        }

      }

      th,
      td {
        font-size: 0.875rem;
        position: relative;
        transition: transform 150ms linear;
        will-change: transform;
          
        &:nth-of-type(1) {
          width: 55vw;
          max-width: 55vw;
          min-width: 204.25px;
          overflow: hidden;
          white-space: nowrap;
          -ms-text-overflow: ellipsis;
              text-overflow: ellipsis;
        }

        &:nth-of-type(n+2) {
          width: 15vw;
          max-width: 15vw;
          min-width: 55.25px;
        }
      }

      .player {

        &--info {
          border-left: none;
          transition: transform 150ms linear;
          will-change: transform;
        }

        &--actions {
          position: absolute;
          left: 0;
          top: 0;
          transform: translateX(-105%);
          transition: transform 150ms linear;
          will-change: transform;
          
          a {
            font-weight: bold;
            padding: 0.775rem 1rem;
          }

        }

      }

    }
    
    .ui--sub-menu {
      
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%;
      display: flex;

      li {
        
        flex: auto;
  
        a {
          .ui--button(@gray-dark);
          color: @gray-light;
          padding: 1rem;
          font-size: .75rem;
          font-weight: 700;
          width: 100%;
          height: 100%;
          text-align: center;
          cursor: pointer;

          &.active {
            background-color: @primary;
            color: #FFF;
          }
        }

        &.search {
          
          * {
            transition: all 300ms linear;
          }

          input {
            position: absolute;
            right: -999em;
            bottom: 0;
            font-size: .875rem;
            color: lighten(@gray-light, 10%);
            background-color: @gray-med;
            padding: 1rem;
            outline: none;
            border-radius: 0;

            -webkit-appearance: none;

            &.active {
              right: -10.75%;
              width: 100%;
              height: 3.6rem;
              z-index: 10000;
              border: none;
              will-change: right;
            }
          }

        }
      }
    }

  }
    
}