@import (reference) '_vars.less';
@import (reference) '_layout.less';

.draft-board-active {
  
}

#labels {
  position: absolute;
  max-width: 88rem;
  top: -3rem;
  width: 100%;
  left: 50%;
  transform: translate(-50%, 0);
  
  .ui.basic.label {
    background: rgba(0, 0, 0, 0.2);
    color: @white;
    width: ~"calc(100% - 3rem)";
    font-size: 1rem;
    
    @media @desktop-menu {
      width: 100%;
    }
  }
}

#slider_menu {

  position: fixed;
  bottom: 0;
  padding: 0.75rem 0.25rem 0;
  background-color: darken(@gray-light, 20%);
  -webkit-border-radius: .5rem;
          border-radius: .5rem;
  transform: translateY(100%) translateY(-0.5rem);
  transition: all 150ms linear;
  will-change: transform;
  
  .page--players .ui--list tbody {
    height: 45vh;
  }

  &.active {
    transform: translateY(0);  
  }

  .toggler {
    position: absolute;
    
    &.invisible {
      height: 10rem;
      width: 100%;
      top: -9.75rem;
    }

    &.button {
      top: -2.25rem;
      right: 0.5rem;
      color: @gray-dark;
      background-color: darken(@gray-light, 20%);  
    }

  }

}

#draft_board {
  
  max-width: 88rem;
  overflow-y: auto;
  overflow-x: scroll;
  max-height: ~"calc(100vh - 6.75rem)";
  background: @white;
  padding: 0;
  margin: 3.75rem auto;
  border-radius: .25rem;
  transition: all 150ms linear;

  .ui.grid {
    
    margin: 0;
    min-width: 80rem;
    
    .row.header {
      padding-top: 1rem;
      position: sticky !important;
      top: 0;
      z-index: 98;
      background: @white;
    }

    & > .row,
    & > .row > .column {
      padding: 1px 1px 0;
    }
    
    & > .row:not(.header):nth-child(2n + 1) {
      -webkit-flex-direction: row-reverse;
          -ms-flex-direction: row-reverse;
              flex-direction: row-reverse;
    }

    .cell {
      
      position: relative;
      font-size: 0.75rem;
      font-weight: bold;
      padding: 0.5rem;
      -webkit-border-radius: 3px;
              border-radius: 3px;
      vertical-align: middle;
      overflow: hidden;
      white-space: nowrap;
      -ms-text-overflow: ellipsis;
          text-overflow: ellipsis;
      
      &.pick {
        height: 5rem;
        background: darken(@gray-light, 7.5%);
        
        &.qb  { background-color: @complimentary; }
        &.rb  { background-color: @rb; }
        &.wr  { background-color: @half; }
        &.te  { background-color: @te; }
        &.dst { background-color: lighten(@def, 15%); }
        &.k   { background-color: @k; }
        
        .overall,
        .team-position,
        .name,
        .traded_to {
          color: rgba(255, 255, 255, 0.75);
          text-transform: uppercase;
          text-align: left;
          line-height: 1rem;
        }

        .traded_to {
          position: absolute;
          top: 0;
          right: 0;
          overflow: hidden;
          width: 100%;
          white-space: nowrap;
          padding: 0.1rem 0.25rem;
          font-size: 0.75rem;
          background: @gray-dark;
          -ms-text-overflow: ellipsis;
              text-overflow: ellipsis;
          
          & ~ .overall,
          & ~ .team-position {
            top: 1.5rem;
          }

        }

        .overall {
          color: rgba(255, 255, 255, 0.65);
          position: absolute;
          top: 0.5rem;
          right: 0.5rem;
        }

        .team-position {
          color: rgba(255, 255, 255, 0.65);
          position: absolute;
          top: 0.5rem;
          left: 0.5rem;
        }

        .name {

          color: rgba(255, 255, 255, 0.65);
          position: absolute;
          bottom: 0.5rem;
          left: 0.5rem;
          width: ~"calc(100% - 1rem)";
          font-size: 1rem;
          color: white;
          
          .first_name {
            text-transform: none;
            font-weight: normal;
          }
          
          .first_name,
          .last_name {
            overflow: hidden;
            width: 100%;
            white-space: nowrap;
            -ms-text-overflow: ellipsis;
                text-overflow: ellipsis;
          }

        }

        &.on-the-clock {
          background: @red-light;
          
          .overall {
            display: none;
          }
          
          .timer {
            content: '';
            position: absolute;
            color: white;
            font-size: 0.875rem;
            text-transform: uppercase;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
        }
      }
      
      img.ui.tiny.circular.image {
        display: block;
        margin: 0 auto;
        max-width: 2.5rem;
      }
    }

  }

}