@import (reference) '_vars.less';
@import (reference) '_layout.less';

body.is-loading {
  background: url('/images/filter.jpg') no-repeat scroll center center;
  background-size: cover;
}

.loading {
  position: absolute;
  left: 50%;
  top: 50%;
  border-bottom: 6px solid rgba(255, 255, 255, .3);
  border-left: 6px solid rgba(255, 255, 255, .3);
  border-right: 6px solid rgba(255, 255, 255, .3);
  border-top: 6px solid rgba(255, 255, 255, .6);
  border-radius: 100%;
  height: 50px;
  width: 50px;
  animation: rotate .6s infinite linear;
}
@keyframes rotate {
  from { transform: translate(-50%, -50%) rotate(0deg); }
  to { transform: translate(-50%, -50%) rotate(359deg); }
}