@import (reference) '_vars.less';
@import (reference) '_mixins.less';

#menu {

  .__transition;

  display: block;
  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: 99;
  color: @white;
  
  &.__push.left {
    right: 16rem;
  }
}

#navigation {
  
  .__transition;

  height: 100%;
  width: 15rem;
  padding: 5rem 1rem;
  background: @gray-med;

  position: fixed;
  top: 0;
  right: -15rem;
  z-index: 99;

  &.__push.left {
    right: 0;
  }

  a {
    display: block;
    padding: 0.5rem;
    
    color: @white;
    font-family: @font-headers;
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
  }
    
}

#draft-status {
  
  width: 100%;
  position: absolute;
  top: -19vh;
  left: 50%;
  max-width: 48rem;
  transform: translateX(-50%);
  
  @media @phone-height {
    top: -25vh;
  }

  @media @min-height {
    top: -20vh;
  }

  @media @phone {
    max-width: 70vw;
  }

  .on-the-clock {
    
    width: 100%;
    display: inline-flex;

    .details {
      margin: .5rem 0 1rem .5rem;
      width: ~"calc(70vw - 5rem)";
      
      p {
        margin: 0;
        overflow: hidden;
        white-space: nowrap;
        -ms-text-overflow: ellipsis;
        text-overflow: ellipsis;
      }

    }
    
    .image {
      min-width: 5rem;
      margin-right: 1rem;
      
      @media @phone {
        min-width: 3rem;
        margin-right: .5rem;
      }
    }

    img {
      width: 5rem;
      padding: 0.5rem;
      border-radius: 50%;
      background: fade(@white, 30%);
    }

  }

  .on-deck {
    
    display: inline-flex;
    overflow-x: auto;
    width: 48rem;
    border-top: 1px solid rgba(0, 0, 0, 0.15);
    padding-top: 2rem;

    @media @phone {
      max-width: 70vw;
    }

    @media @min-height {
      display: none;
    }

    p {
      position: absolute;
      bottom: 2.9rem;
      left: .5rem;
      
      @media @phone {
        bottom: 2.5rem;
      }
    }
  
    .team {
      display: flex;
      justify-content: center;
      align-items: center;
      min-width: 3rem;
      margin: 0 0.25rem;
      padding: 0.375rem;
      border-radius: 50%;
      background: rgba(0, 0, 0, 0.15);
    }
  
  }

}


