@import (reference) '_vars.less';
@import (reference) '_layout.less';
@import (reference) '_mixins.less';

.teams {

  ul {
    .__transition;
    margin: 0;
    padding: 0;
    list-style-type: none;
    position: absolute;
    width: 100%;
    display: inline-flex;
    overflow-x: auto;
    border-top: 1px solid rgba(255, 255, 255, 0.75);
    border-bottom: 1px solid rgba(255, 255, 255, 0.75);
    border-radius: .25rem .25rem 0 0;
    background: @gray-light;
    
    @media @tablet {
      justify-content: center;
      align-items: center;
    }
  }

  li {
    
    display: flex;
    min-width: 4.5rem;
    padding: 0.5rem;
    background: @gray-light;
    
    a {
      color: white;
      padding: 0.375rem;
      font-size: .875rem;
      font-weight: 700;
      text-decoration: none;
      border-radius: 50%;
      background: rgba(0, 0, 0, 0.15);
      
      &:hover,
      &.active {
        background: @complimentary;
      }

      img.ui.tiny.circular.image {
        max-width: 3rem;
      }
    }

  }

  .toggled {

    li a:not(.active) {
      display: block;
      background: @gray-med;
    }
    li a:after {
      content: '';
    }
  }

  td.position {
    max-width: 1em;
    text-align: center;
    font-weight: 900;
    font-family: @font-headers;
  }

  .item {
    padding-top: 3.75rem;
    
    .content {
      height: 69vh;
      overflow-y: auto;
      
      @media @phone-height {
        height: 63vh;
      }
    }
  }

}