@import (reference) '_mixins.less';
@import (reference) '_vars.less';

h1,h2,h3,h4,h5,h6 {
    .text--uppercase;

    font-weight: 100;
    font-family: @font-headers;
}

.h {
    &--thin     { font-weight: 100; }
    &--exlight  { font-weight: 200; }
    &--light    { font-weight: 300; }
    &--normal   { font-weight: 400; }
    &--medium   { font-weight: 500; }
    &--semibold { font-weight: 600; }
    &--bold     { font-weight: 700; }
    &--exbold   { font-weight: 800; }
    &--ultra    { font-weight: 900; }
}

.kern {
  &--wide       { letter-spacing: 0.1rem; }
  &--medium     { letter-spacing: 0.05rem; }
  &--thin       { letter-spacing: 0.025rem; }
}