<template name="bigboard">
  <section class="big-board players list">
    <h4 class="ui inverted black block header">Remaining Players</h4>
    <div class="ui six column grid">
      <div class="column">
        <div class="ui divided list">
          {{#each qb}}
          <div class="{{to_lower_case position}}">
            <div class="item">
              <div class="tab"></div>
              <div class="content">
                <div class="header">{{first_name}} {{last_name}}</div><span>{{to_upper_case position}} &middot; {{team}}</span>
              </div>
            </div>
          </div>
          {{/each}}
        </div>
      </div>
      <div class="column">
        <div class="ui divided list">
          {{#each rb}}
          <div class="{{to_lower_case position}}">
            <div class="item">
              <div class="tab"></div>
              <div class="content">
                <div class="header">{{first_name}} {{last_name}}</div><span>{{to_upper_case position}} &middot; {{team}}</span>
              </div>
            </div>
          </div>
          {{/each}}
        </div>
      </div>
      <div class="column">
        <div class="ui divided list">
          {{#each wr}}
          <div class="{{to_lower_case position}}">
            <div class="item">
              <div class="tab"></div>
              <div class="content">
                <div class="header">{{first_name}} {{last_name}}</div><span>{{to_upper_case position}} &middot; {{team}}</span>
              </div>
            </div>
          </div>
          {{/each}}
        </div>
      </div>
      <div class="column">
        <div class="ui divided list">
          {{#each te}}
          <div class="{{to_lower_case position}}">
            <div class="item">
              <div class="tab"></div>
              <div class="content">
                <div class="header">{{first_name}} {{last_name}}</div><span>{{to_upper_case position}} &middot; {{team}}</span>
              </div>
            </div>
          </div>
          {{/each}}
        </div>
      </div>
      <div class="column">
        <div class="ui divided list">
          {{#each k}}
          <div class="{{to_lower_case position}}">
            <div class="item">
              <div class="tab"></div>
              <div class="content">
                <div class="header">{{first_name}} {{last_name}}</div><span>{{to_upper_case position}} &middot; {{team}}</span>
              </div>
            </div>
          </div>
          {{/each}}
        </div>
      </div>
      <div class="column">
        <div class="ui divided list">
          {{#each def}}
          <div class="{{to_lower_case position}}">
            <div class="item">
              <div class="tab"></div>
              <div class="content">
                <div class="header">{{first_name}} {{last_name}}</div><span>{{to_upper_case position}} &middot; {{team}}</span>
              </div>
            </div>
          </div>
          {{/each}}
        </div>
      </div>
    </div>
  </section>
</template>