<template name="DraftBoard">

  {{> navigation}}
  
  <div id="labels">
    <div class="ui basic label">
      <i class="clock outline icon"></i>
      {{summary.team.name}}
    </div>
  </div>

  <div id="draft_board">
    <div class="ui {{getNumberWord summary.total_teams}} column grid equal width center aligned padded vertically unstackable">
      <div class="row header">
        {{#each teams}}
        <div class="column">
          <div class="cell">
            <img class="ui tiny circular image" src="{{image}}" width="48" alt="{{name}}">
            {{name}}
          </div>
        </div>
        {{/each}}
      </div>
      {{{draftBoard summary}}}
    </div>
  </div>
  
  {{#HammerTouchArea gestureMap=templateGestures}}
  <div id="slider_menu">
    <div class="toggler ui button">
      <i class="fa fa-chevron-down" aria-hidden="true"></i>
    </div>
    {{> DraftRoom}}
  </div>
  {{/HammerTouchArea}}

  {{> sAlert}}
  {{> ModalContainer}}

</template>