<template name="DraftRoom">

  <div class="page--players has--sub-menu" data-show-position="qb">

    <table class="ui--list ui small unstackable sortable table">
      <thead>
        <tr>
          <th class="no-sort">Player</th>
          <th class="int center aligned">OV</th>
          <th class="no-sort center aligned">POS</th>
          <th class="int center aligned">ADP</th>
        </tr>
      </thead>
      <tbody>
        {{#each players}}
        <tr data-position="{{to_lower_case position}}" data-last-name="{{last_name}}" data-first-name="{{first_name}}"> 
          <td>
            <div class="player--actions">
              <a class="ui--button" href="#" data-action="draft-player">
                <i class="fa fa-plus"></i> DRAFT 
              </a>
            </div>
            <div class="player--info">
              {{first_name}} 
              <span class="h--ultra">{{last_name}}</span>
              <span class="hlp font size minus2 weight bold color whisper caps">
                &nbsp;&nbsp;{{ position }} 
                {{#if notDefense}}
                  &bull; {{ team }} 
                {{/if}}
              </span>
            </div>
          </td>
          <td class="center aligned">{{ranking}}</td>
          <td class="center aligned">{{position_rank}}</td>
          <td class="center aligned">{{adp}}</td>
        </tr>
        {{/each}}
      </tbody>
    </table>
    <ul class="ui--sub-menu">
      <li class="search"><a href="#"><i class="fa fa-search"></i></a>
        <input id="player_search" type="text" placeholder="Search for player..." name="player_search"/>
      </li>
      <li><a class="active" href="#" data-path="all">ALL</a></li>
      <li><a href="#" data-path="qb">QB</a></li>
      <li><a href="#" data-path="rb">RB</a></li>
      <li><a href="#" data-path="wr">WR</a></li>
      <li><a href="#" data-path="te">TE</a></li>
      <li><a href="#" data-path="k">K</a></li>
      <li><a href="#" data-path="dst">DEF</a></li>
    </ul>

  </div>

</template>