 <template name="DraftStatus"> 
  <div id="draft-status">
    <div class="on-the-clock">
      <div class="image">
        <img class="ui small circular image" src="{{ on_the_clock.otc.team.image }}" alt="{{ on_the_clock.otc.team.name }}">
      </div>
      <div class="details">
        <p class="hlp font size minus1 weight bold caps color white">ON THE CLOCK</p>
        <p class="hlp font size plus2 weight bold caps color white">{{ on_the_clock.otc.team.name }}</p>
        <p class="hlp font size minus1 weight bold caps color quiet">
          Pick: {{ summary.round }}.{{ summary.pick }}&nbsp;&bull;&nbsp;Overall: {{ summary.overall }}
        </p>
      </div>
    </div>
    <div class="on-deck">
      <p class="hlp font size minus1 weight bold caps color white">ON DECK</p>
      {{#each on_deck.matrix}}
        <div class="team">
          <img class="ui tiny circular image" src="{{ team.image }}" alt="{{ team.name }}">
        </div>
      {{/each}}
    </div>
  </div>
</template>