<template name="navigation">
  <a id="menu" href="#">
    <i class="fa fa-bars"></i>
  </a>
  <div class="tx-action" id="navigation" data-action="authorize">
    <nav>
      <a class="{{ subActive '/' }}" href="/">Draft Board</a>
      <a class="{{ subActive '/draft-room' }}" href="/draft-room">Classic View</a>
      <a class="{{ subActive '/teams' }}" href="/teams">Team Rosters</a>
      <a class="{{ subActive '/overview' }}" href="/overview">Draft Overview</a>
      <a class="tx-action hide--all" href="/big-board">Big Board</a>
      <a class="tx-action hide--all" href="#" data-action="undo">Undo Last Pick</a>
      <a class="tx-action hide--all" href="#" data-action="redo">Redo Last Pick</a>
      <a class="tx-action hide--all" href="/reset-all" data-action="reset">Reset Draft</a>
    </nav>
  </div>
</template>