<template name="overview">
  <section class="overview">
    {{#if draftNotStarted }}
      <h1 class="h--ultra dead--center">Draft has not started.</h1>
    {{else}}
      <table class="ui basic unstackable table">
        <tbody>

          {{#each picks}}

            {{#if isNewRound }}
              <tr>
                <td class="header hlp font color white size minus2" colspan="3">
                  <strong>Round {{ round }}</strong>
                </td>
              </tr>
            {{/if}}
            
            <tr>
              <td class="hlp font size minus2 weight bold">{{ overall }}</td>
              <td class="hlp font size minus2">{{ team.name }}</td>
              <td class="hlp font size minus1">
                {{ player.first_name }} {{ player.last_name }}
                <div class="hlp font color quiet size minus2">
                  {{to_upper_case player.position}} &bull; {{ player.team }} &bull; Bye {{ player.bye }}
                </div>
              </td>
            </tr>

          {{/each}}

        </tbody>
      </table>
    {{/if}}
  </section>
</template>