<template name="teams">
  <section class="teams">
    <ul>
      {{#each teams}}
        <li>
          <a class="{{ subActive _id }}" href="/teams/{{ _id }}">
            <img class="ui tiny circular image" src="{{ image }}">
          </a>
        </li>
      {{/each}}
    </ul>
    <div class="item">
      <div class="content">
        <div class="header">{{ name }}</div>
        <span>{{ owner }}</span>
        <table class="ui basic unstackable table">
          <tbody>
            <tr>
              <td class="header hlp font size minus2" colspan="2">STARTERS</td>
            </tr>
            {{#each team.starters}}
              {{> team__player}}
            {{/each}}
            <tr>
              <td class="--border-top header hlp font size minus2" colspan="2">BENCH</td>
            </tr>
            {{#each team.reserves}}
              {{> team__player}}
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  </section>
</template>