<template name="team__player">
  <tr>
    <td class="position --border-right hlp font size minus2">
      {{#if reserve}}
        BN
      {{else}}
        {{to_upper_case position}}
      {{/if}}
    </td>
    <td class="hlp font size minus1">
      {{ first_name }} {{ last_name }}
      <div class="hlp font color quiet size minus2">
        {{to_upper_case position}} &bull; {{ team }} &bull; Bye {{ bye }}
      </div>
    </td>
  </tr>
</template>